@import "../../styles/functions.scss";

.checkbox {
  display: inline-block;
  background: white;
  transition: all 150ms;
  border: 1.5px solid #dcdee5;
  height: pxToRem(18);
  width: pxToRem(18);
  border-radius: pxToRem(4);

  &__active {
    background: #1676f3;
    border-color: #1676f3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

input[type="checkbox"] {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
