@import "../../styles/functions.scss";

.search {
  height: pxToRem(44);
  width: pxToRem(448);
  border-radius: pxToRem(4);
  background: #f3f4f7;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: pxToRem(16);

  svg {
    position: absolute;
    top: pxToRem(16);
    left: pxToRem(16);
  }

  input {
    height: pxToRem(44);
    width: pxToRem(448);
    padding: 0 pxToRem(37.45);
    border: none;
    background: none;
    font-family: "PolySans";

    &::placeholder {
      color: #8a91a8;
      font-family: "PolySans";
      font-size: pxToEm(14);
      font-weight: 400;
      line-height: pxToRem(14);
      letter-spacing: -0.02em;
    }
  }
}
